

.movie-title{
    font-size: 40px;
    font-family: 'GilroyBold';
}

.storyline-container{
    font-size: 14px;
    line-height: 20px;

}

.storyline-container .storyline-title{
    font-family: 'GilroyBold';
    margin-bottom: 0.25rem;
}

.storyline-container .storyline{
    margin-bottom: 1.5rem;
}

.cast-title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cast-title{
    line-height: 1.5rem;
    font-size: 14px;
    font-family: 'GilroyBold';
}

.see-all{
    font-size: 12px;
    line-height: 12px;
    opacity: 50%;
}