
.MuiIconButton-colorPrimary{
    color: maroon;
}

.mpa{
    width: 24px;
    height: 24px;
    background-color: #191926;
    border-radius: 5px;
    opacity: 0.9;
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 4px 0;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poster-container{
    position: relative;
    height: 248px;
}
.poster{
    width: 100%;
}

.other-info-container{
    position: absolute;
    bottom: 8px;
    left: 8px;
    font-size: 8px;
}

.genres{
    font-family: GilroyLight;
    font-weight: 300;
    color: #FF3466;
}

.rating-reviews{
    display: flex;
    align-items: center;
}

.reviews{
    font-family: GilroyBold;
    color: #6D6D80;
    font-size: 10px;
    margin-left: 6px;
}

.main-info{
    height: 3rem;
    margin: 0.5rem;
}

.title{
    font-weight: 800;
    font-size: 14px;
}

.duration{
    font-weight: 800;
    font-size: 8px;
    line-height: 12px;
    color: #565665;
}