@font-face {
  font-family: 'GilroyBold';
  src: local('Gilroy'), url(./../fonts/Gilroy-FREE/Gilroy-ExtraBold.otf) format('woff');
}

@font-face {
  font-family: 'GilroyLight';
  src: local('Gilroy'), url(./../fonts/Gilroy-FREE/Gilroy-Light.otf) format('woff');
}

p{
  margin: 0;
}

.App{
  min-height: 100vh;
  background-color: #191926;
  color: #fff;
  font-family: GilroyLight;
}  