.main-info{
    padding: 0.5rem;
    background-color: #222232;
}

.title{
    font-weight: 800;
    font-size: 14px;
}

.duration{
    font-weight: 800;
    font-size: 8px;
    line-height: 12px;
    color: #565665;
    text-transform: uppercase;
}